$primaryText: #1260cc;
$bodyBackground: #0f1019;
$white: rgb(255, 255, 255);
$textBlue: #4c61f5;
$lightPurple: 7c7aff;
$offwhite-alpha: rgba(189, 189, 189, 0.327);
$offwhite-alpha2: rgba(189, 189, 189, 0.1);
$lighteroffwhite: rgb(207, 206, 206);
$black: rgb(0, 0, 0);
