body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
}

.glow {
    font-family: 'Encode Sans SC', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    color: #fff;
    text-align: center;
    text-shadow: 
        0 0 10px #1260cc,
        0 0 20px #4c61f5,
        0 0 30px #7c7aff,
        0 0 40px #bf7aff,
        0 0 50px #bf7aff,
        0 0 60px #bf7aff;
    animation: circular-glow 2s infinite linear;
}

@keyframes circular-glow {
    0% {
        text-shadow: 
            0 0 10px #1260cc,
            0 0 20px #4c61f5,
            0 0 30px #7c7aff,
            0 0 40px #bf7aff,
            0 0 50px #bf7aff,
            0 0 60px #bf7aff;
    }
    25% {
        text-shadow: 
            10px 0 10px #1260cc,
            20px 0 20px #4c61f5,
            30px 0 30px #7c7aff,
            40px 0 40px #bf7aff,
            50px 0 50px #bf7aff,
            60px 0 60px #bf7aff;
    }
    50% {
        text-shadow: 
            0 -10px 10px #1260cc,
            0 -20px 20px #4c61f5,
            0 -30px 30px #7c7aff,
            0 -40px 40px #bf7aff,
            0 -50px 50px #bf7aff,
            0 -60px 60px #bf7aff;
    }
    75% {
        text-shadow: 
            -10px 0 10px #1260cc,
            -20px 0 20px #4c61f5,
            -30px 0 30px #7c7aff,
            -40px 0 40px #bf7aff,
            -50px 0 50px #bf7aff,
            -60px 0 60px #bf7aff;
    }
    100% {
        text-shadow: 
            0 10px 10px #1260cc,
            0 20px 20px #4c61f5,
            0 30px 30px #7c7aff,
            0 40px 40px #bf7aff,
            0 50px 50px #bf7aff,
            0 60px 60px #bf7aff;
    }
}
